<%= form_for([@pokemon, @sighting]) do |f| %>
  <% if @sighting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sighting.errors.count, "error") %> prohibited this sighting from being saved:</h2>

      <ul>
      <% @sighting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :information %><br>
    <%= f.text_area :information %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>
  <!-- <div class="field">
    <%= f.label :pokemon_id %><br>
    <%= f.text_field :pokemon_id %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
