<div class="well">
  <%= form_for([@pokemon, @sighting]) do |f| %>
    <% if @sighting.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@sighting.errors.count, "error") %> prohibited this sighting from being saved:</h2>

        <ul>
        <% @sighting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :information %>
      <%= f.text_area :information, class: "form-control" %>
    </div>
    <div class="form-group row">
      <div class="col-md-8">
        <!-- <div class="form-group">
          <%= f.label :picture %>
          <%= f.file_field :picture, class: "form-control" %>
        </div> -->
        <div class="form-group">
          <%= f.label :remote_picture_url %>
          <%= f.text_field :remote_picture_url, class: "form-control" %>
        </div>
      </div>
      <div class=" from-group col-md-4">
        <%= image_tag(@sighting.picture_url) if @sighting.picture? %>
      </div>

    </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
