  <h1>Listing Pokemons</h1>
<div class="row">
  <%= link_to 'New Pokemon', new_pokemon_path %>
</div>

<% @pokemons.each do |pokemon| %>
  <div class=" col-md-3 panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pokemon.name %></h3>
    </div>
    <div class="panel-body">
      <p><%= pokemon.description %></p>
      <p>
        <%= link_to 'Sighting Report', new_pokemon_sighting_path(pokemon.id) %>
      </p>
      <p>
        <%= link_to 'Show', pokemon %> |
        <!-- <%= link_to 'Edit', edit_pokemon_path(pokemon) %> |
        <%= link_to 'Destroy', pokemon, method: :delete, data: { confirm: 'Are you sure?' } %> -->
      </p>
    </div>
  </div>
<% end %>
